
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>
    <label>Select File:</label>
    <input type="file" value="Choose file" />
    <label>Import From Excel:</label>
    <input type="submit" value="Choose file" />
    <label>Export to Excel:</label>
    <input type="submit" value="Choose file" />*@
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/sweetalert.js"></script>
<div align="center">
    @if (ViewBag.Message != null)
    {
        <span class="alert alert-warning"> @ViewBag.Message</span>
    }

    <div align="right" class="btn btn-default">
        @using (Html.BeginForm("UploadExcel", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <input type="file" id="fileUpload" class="btn btn-primary" name="FileUpload" /><br />
            <input type="submit" class="btn btn-primary" name="UploadNewEmployee" id="fileUploadExcel" value="Upload s Employee Details" />
        }
    </div>

    <div align="right" class="btn btn-default">
        @using (Html.BeginForm("DownloadExcel", "Home", FormMethod.Get, new { @enctype = "multipart/form-data" }))
        {
            
            <input type="submit" class="btn btn-danger" value="DownloadExcel" />
        }
    </div>
</div>

